node_modules/
logs/
tmp/
*.zip
.env*
process.env
build/               # ← production build-аа git-д хийхгүй
Passengerfile.json
config/*.json
!config/headerMappings.json
!config/userLevelActions.json
!config/softDeleteTables.json
config/generated.sql
.ico
uploads/*
!uploads/.gitkeep
!uploads/report_builder/
!uploads/report_builder/.gitkeep
!uploads/txn_images/
!uploads/txn_images/.gitkeep
!uploads/txn_images/test_cleanup/
!uploads/txn_images/test_cleanup/.gitkeep
!config/.gitkeep
