node_modules/
logs/
tmp/
*.zip
.env*
process.env
build/               # ← production build-аа git-д хийхгүй
Passengerfile.json
.json
.ico
# Prevent committing uploaded files or generated configs
uploads/*
config/*.json

# But allow folder structure
!uploads/.gitkeep
!config/.gitkeep
